<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth Test</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animations.css">
</head>
<body>
    <div class="bg">
        <header>
            <h1>OAuth Test</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">&lt;home&gt;</a></li>
                <li><a href="/auth/login">&lt;login&gt;</a></li>
            </ul>
        </nav>
        <section class="login anim-fadein">
            <form action="" class="login">
                <button>Sign in with Google</button>
                <button>Sign in with Facebook</button>
                <button>Sign in with Twitter</button>
            </form>
        </section>
    </div>
</body>
</html>