<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImaGen</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="animations.css">
</head>
<body>
    <div class="title-1 anim-fadein">
        <h1>ImaGen</h1>
        <h2>Web App that generates a pixel art from your auth ID</h2>
    </div>
    <div class="imagen anim-fadein-1">
        <a href="/">Go Back</a>
    </div>
</body>
</html>